
form.form(action="", method="post") 
  label(for="message") 
    b Enter a new message: 
  textarea#message(name="text", cols="30", rows="10", maxlength="264", placeholder="Describe yourself here...") 
  button(type="submit") Send
